<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <!--时（24小时制，范围：00~23）-->
    <add key="Hour" value="10"></add>

    <!--分（范围：00~59）-->
    <add key="Minute" value="30"></add>

    <!--要杀死的进程）-->
    <add key="ProcessName" value="HISTOPACS.exe"></add>

    <!--要重新运行的程序路径-->
    <add key="ExePath" value="C:\InterFace\HISTOPACS\HISTOPACS.exe"></add>
    
  </appSettings>
  </configuration>